*{
    font-family: ;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: linear-gradient(45deg, #A62648, #DDA361, #339179);
}

main {
    width: 900px;
    height: 500px;
    border: 3px solid black;

    background-color: white;
    border-radius: 10px;
}

.img{
    text-align: left;
    width: 400px;
    height: 500px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.conteudo {
    width: 500px;
    height: 490px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    transform: translate(80%, -103%);
}

.conteudo > h1 {
    border-top-right-radius: 8px;
    padding: 50px;
    background-color: #DDA361;
}

.conteudo > form {
    padding: 15px;
}

input {
    width: 300px;
    padding: 5px;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    margin: 10px;
}

.campo {
    padding: 5px;
}

#tabelaCadastro {
    background-color: #FDE5C9;
    border: 2px solid black;
    margin-left: 17px;
    padding: 6px;
}

tr, th, td {
    background-color: white;

    padding: 3px;
    border: 1px solid black;
}
